* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: gray;
    margin: 15px;
}

header{
    background-color: black;
    width: 90%;
    height: 150px;
    margin-left: 5%;
    border-radius: 40px;
    box-shadow: 12px 12px 16px #333;
}

header h1{
    color:aqua;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    text-shadow: 6px 6px 16px whitesmoke;
}

header ul{
    display: flex;
    float: left;
}

header ul li{
    margin-left: 30%;
    list-style-type: none;
}

header ul li:hover a {
    background-color: aquamarine;
    font-size: 36px;
}

header ul li a{
    text-decoration: none;
    color: aquamarine;
    line-height: 30px;
    font-size: 24px;
}

header ul li a:hover{
    color: black;
}